
h1,a,
.items{
    text-decoration: none;
    padding: 1% 10%;
    color: #000000;
    font-family: 'Anek Bangla', sans-serif;
}
img{
    max-width: 300px;
    object-fit: cover;
    max-height: 100%;
}
span{
    color: #0A09AB;
    font-weight: bold;
}
.text{
    /* font-size: 2em;
    display: inline-block; */
    /* padding-left: 2%; */
    margin-left: -5%;
    font-family: 'Anek Bangla', sans-serif;

}
.headline:hover{
    color: #0A09AB;
}
.summary{
    color: #2C3333;
}

@media (max-width:1010px){
    img{
        max-width: 100%;
        object-fit: cover;
        max-height: 200px;
    }  
    .text{
        margin: 1% 0;
    }
}

